.button {
  font-size: 18px;
  font-weight: 600;
  width: 289px;
  padding: 20px 13px 20px;
  box-shadow: 5px 5px 10px #00000040;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  border-radius: 5px;
  grid-area: button;
  text-decoration: none;
  color: #fff;
  line-height: 1.15;
  text-align: center;
  align-self: baseline;
  row-gap: 48px;
}

.button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 767px) {
  .button {
    margin: 0 auto;
    width: 288px;
  }
}
