.footer {
  display: flex;
  justify-content: center;
  padding-top: 7%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
}

@media screen and (max-width: 320) {
  .footer {
    padding-top: 15%;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}
